<% include partials/header %>
<style>
    span {
        color :pink;
    }
    img {
        width : 800;
        height : 500
    }
</style>

<h1>Home Page!</h1>

<h3>Hi My <span>JingJing!</span> </h3>
<a href ="/campgrounds">Do you want to view my pokemons????</a> 
<div>
<img src="https://fs.mingpao.com/ldy/20170703/s00028/4d20fc4ba05f9b6444d1132f3aae09d7.jpg"></img>
</div>

<% include partials/footer %>